.about__banner {
  background-image: url(../../../assets/image/Azerbaijani_cuisine.webp);
  background-position: center ;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%;
  aspect-ratio:1920/1280;
  padding-block:calc(2vw + 1rem);
  display: flex;
  justify-content:end;
  align-items: top;
  position: relative;
  box-shadow: 
  0 calc(7px + 1vw) calc(10px + 1vw) rgba(0, 0, 0, 0.7), 
  0 calc(20px + 2vw) calc(25px + 2vw) rgba(0, 0, 0, 0.5),
  0 calc(30px + 3vw) calc(30px + 3vw) rgba(0, 0, 0, 0.3);
  .about__banner-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    user-select: none;
    margin: 0.1vw 6vw 0 0;
    .about__banner-title {
      color: rgba(255, 255, 255, 0.3);
      font-size: calc(5.7vw + 0.5rem);
      text-transform: uppercase;
      -webkit-text-stroke: 0.6px #fff;
      @media (max-width: 490px) {
        -webkit-text-stroke: 0.4px #fff;
      }
    }
    .about__banner-subtext {
      color: #fff;
      font-size: var(--fz_H3);
    }
  }

  .next-btn {
    position: absolute;
    right: calc(0.8vw + 0.6rem);
    bottom: 0.8%;
    width: calc(2.3vw + 1.8rem);
    height: calc(2.3vw + 1.8rem);
    transition: all 0.2s;
    user-select: none;
    z-index: 55555;
    &:hover {
      bottom: -1%;
    }
  }
  @media (max-width: 1024px) {
    .next-btn {
      bottom: 3%;
      &:hover {
        bottom: 2%;
      }
    }
  }
}
