.menu-preface {
  color: #fff;
  padding-bottom: 5vh;
  //---------------
  position: relative;
  z-index: 4;
  //----------------------------
  padding-inline: 5vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: calc(2vw + 1rem);
  transition: all 0.3s;
  user-select: none;
  .menu-preface__chef-image,
  .menu-preface__chef-image {
    width: 100%;
    min-width: 260px;
    max-width: 460px;
    box-shadow: 0 0 25px black;
  }
  .menu-preface__text {
    font-size: var(--fz_p);
    width: 100%;
    text-align: center;
    text-wrap: balance;
    text-shadow: 0 0 3px black;
    font-weight: 200;
    letter-spacing: calc(.04vw + .04rem);
  }
}
@media (max-width: 1024px) {
  .menu-preface {
    grid-template-columns: 1fr;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
