.parallax-wrapper {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  position: relative;
  overflow: hidden;
  background-color: #ff0303;

  .parallax__content {
    z-index: 3;
    text-align: center;
    text-shadow: 1px 1px 20px black;
    .parallax__title-italics {
      color: var(--darkSand_txt_color);
      line-height: 40px;
      font-family: "Herr Von Muellerhoff", cursive;
      font-size: calc(5vw + 4rem);
      font-weight: 500;
    }
    .parallax__title {
      color: #fff;
      font-size: calc(4vw + 1rem);
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
}



