@import "../../../assets/globalStyles.scss";

.discover-menu {
  width: 100%;
  flex: 1; /* Растягиваем .discover-menu на всю доступную высоту */
  display: flex;
  flex-direction: column;
  .discover-menu__container {
    padding: 5vw;
    display: grid;
    gap: 5vw;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    .discover-menu__Images {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: calc(1.4vw + 0.7rem);

      .discover-menu__Image {
        box-shadow: 0 0 12px black;
        transition: transform 0.3s;
        overflow: hidden;
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .discover-menu__text {
      user-select: none;
      text-align: center;
      margin-bottom: calc(2vw + 1rem);

      .discover-menu__logo {
        margin-bottom: calc(1.4vw + 0.6rem);

        .discover-menu__logo-title {
          font-family: "Herr Von Muellerhoff", cursive;
          font-size: calc(6vw + 3rem);
          font-weight: 500;
          text-align: center;
          color: var(--darkSand_txt_color);
          line-height: 30px;
          margin-top: calc(2vw + 1.7rem);
          text-shadow: 1px 1px 3px rgb(46, 46, 46);
        }
        .discover-menu__logo-subtitle {
          font-size: calc(3vw + 1.5rem);
          font-weight: 700;
          text-shadow: 1px 1px 4px rgb(75, 75, 75);
        }
      }

      .decorative-divider {
        font-size: calc(1vw + 0.5rem);
        margin-bottom: calc(1.4vw + 0.6rem);
      }

      .discover-menu__text-p {
        font-size: var(--fz_p);
        text-wrap: balance;
        margin-bottom: calc(1.6vw + 0.8rem);
        color: var(--dark_white);
        font-weight: 300;
      }

      @include button-styles-with-underline;
    }
  }

  @media (max-width: 768px) {
    .discover-menu__container {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;

      .discover-menu__Images {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        order: 2;
      }
      .discover-menu__text {
        order: 1;
      }
    }
  }
}
