@font-face {
  font-family: "Herr Von Muellerhoff";
  src: url("../assets/font/HerrVonMuellerhoff-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald";
  src: url("../assets/font/Oswald-VariableFont_wght.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap");
// font-family: "Poppins", sans-serif;
